.dialogsScroller {
    height: calc(100vh - 23px);
    overflow: auto;
    background-color: hsl(223, calc(1 * 6.9%), 19.8%);
    position: relative;
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 0 8px;
}
.dialogsScroller:hover::-webkit-scrollbar{
    display: block;
}
.dialogsScroller::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.dialogsScroller::-webkit-scrollbar {
    display: none;
}
.dialogsScroller::-webkit-scrollbar-corner{
    background-color: transparent;
}
.dialogsScroller::-webkit-scrollbar-thumb{
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: rgb(32,34,37);
    min-height: 40px;
}
.dialogsScroller::-webkit-scrollbar-track{
    background-color: transparent;
}
.dialogs li {
    padding: 1px 0;
}

@media (max-width: 600px) {
    
}