.navigation {
    padding: 10px;
    background: rgba(32, 34, 37);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 300;
}

.navigation div {
    margin: 10px 0;
}

.title {
    font-weight: 700;
    font-size: 12px;
}

@media (max-width: 500px) {
    .navigation {
        padding: 5px;
    }
    .navigation div {
        margin: 5px 0;
    }
}