.link {
    cursor: pointer;
    position: relative;
}

/*activeLinkIndicator*/
.link.noactive:hover .activeLinkIndicator {
    height: 20px;
    border-radius: 3px;
}
.active .activeLinkIndicator{
    height: 40px;
    transition: all 0.3s ease;
    border-radius: 3px;
}
.activeLinkIndicator {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    left: -15px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    transition: all 0.3s ease;
}

.itemImage {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    transition: all 0.2s ease;
}

/* При фокусе на элемент*/
.active div{
    border-radius: 18px;
    transition: all 0.2s ease;
    background: rgb(59,165,93) !important;
}

.link.usualLink div {
    background: rgb(54,57,63);
}

.link.usualLink:hover div,
.link.avatarLink:hover div,
.usualLink .active div{
    background: rgb(59,165,93);
    border-radius: 18px;
    transition: all 0.2s ease;
}

.link.usualLink div img {
    transform: scale(0.5, 0.5);
}

.link div {
    overflow: hidden;
}

.link div img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}