.profile {
    flex: 0 0 200px;
    margin-right: 20px;
}

.profileBlock {
    width: 100%;
}

.avatar {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.avatar > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.settingsBlockBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}
.settingsBlock {
    padding: 20px;
    background: rgba(54,57,63);
    border-radius: 8px;
}

@media (max-width: 500px) {
    .profile {
        margin-right: 0;
    }
}