.pagesWrapper {
    display: flex;
    justify-content: center;
}
.pages {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    align-items: center;
}

.spread {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0 3px;
    cursor: default;
}

.changePage {
    display: inline-block;
    background: rgb(88,101,242);
    border-radius: 5px;
    color: #fff;
    padding: 3px 5px;
    font-size: 12px;
    margin: 0 5px;
    height: 40px;
}